@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Dennis Kjellins MVC page for a collection of great and bad music, if you want to add anything to this Music Database you can first add an artist and then assign a album to this artist. You can also asign a album to an already existing artist!</p>
</div>
