html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* heading fonts*/
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

/* set default font*/
p, span, strong, a, label, input, li {
	font-family: 'Poppins', sans-serif;
}